<ion-view view-title="Novo banho">
  <ion-content class="container btm">
    <div class="bg-grad add-image" ng-click="picture()" ng-if="!imagem">
    	<img src="img/add.png" alt="">
    	<span>Adicionar Imagem</span>
    </div>
    <div class="img-container" ng-if="imagem">
    	<img src="img/close.png" alt="" class="btn-close" ng-click="delete()">
    	<img ng-src="{{imagem}}" alt="">
    </div>
	<div class="form">
		<div class="line" ng-click="getData()">
	    	<div class="likeinput" ng-if="!banho.dataBanho">Data</div>
	    	<div class="likeinput" ng-if="banho.dataBanho">{{banho.dataBanho | date: 'dd/MM/yyyy'}}</div>
	    </div>

	    <!-- <div class="line">
	    	<input type="number" name="petshop" ng-model="banho.idPetshop" placeholder="Petshop">
	    </div> -->

	    <div class="line">
	    	<label class="tag field-description" ng-click="removeItem()" ng-if="banho.NomePetShop"><span class="close">x</span>{{banho.NomePetShop}}</label>
	    	<input type="text" id="inpt" name="petshop" ng-focus="focus()" placeholder="Pet Shop" ng-keyup="keypressed($event)" ng-blur="blur()">

	    	<div class="lst" ng-if="options">
                <span ng-repeat="item in options" ng-click="add(item)">{{item.nome}}</span>
            </div>
	    </div>

	    <div class="line">
	    	<input type="number" name="valor" ng-model="banho.valor" placeholder="Valor">
	    </div>

	    <div class="line noline">
	    	<div class="field-name">Anotações</div>
	    	<textarea name="notas" ng-model="banho.notas"></textarea>
	    </div>
    </div>
  </ion-content>

    <div class="btm-bar">
		<div class="btn-icon" ng-click="send()"><img src="img/checked.png" alt=""></div>
	</div>
</ion-view>
