<ion-view view-title="Banhos">
  <ion-content class="timeline"> <!-- scroled -->
    <div class="img-area small">
		<img ng-src="{{pet.img}}" alt="">
	</div>
	<div class="bg-title">
		<img src="../img/add-white.png" alt="">
		<h2>{{pet.nome}}</h2>
	</div>
	<div class="alert">
		<div class="field">
			<div class="field-content">Próximo Banho</div>
			<div class="field-name">17/01/2018</div>
			<div class="alert-sign">!</div>
		</div>
	</div>
	<div class="container">
		<div class="card">
			<div class="data bg-grad">07/01/2018</div>
			<div class="icon-field halph">
				<img src="../img/location.png" alt="">
				<span>Pet Life</span>
			</div>
			<div class="icon-field halph">
				<img src="../img/price.png" alt="">
				<span>R$40,00</span>
			</div>
		</div>

		<div class="card">
			<div class="data bg-grad">07/01/2018</div>
			<div class="icon-field halph">
				<img src="../img/location.png" alt="">
				<span>Pet Life</span>
			</div>
			<div class="icon-field halph">
				<img src="../img/price.png" alt="">
				<span>R$40,00</span>
			</div>
			<div class="img-area">
				<img src="../img/banhando.png" alt="">
			</div>
		</div>

	</div>
  </ion-content>
</ion-view>
