<ion-view view-title="Novo banho">
  <ion-content class="container btm">
    <div class="bg-grad add-image" ng-click="picture()" ng-if="!imagem">
    	<img src="img/add.png" alt="">
    	<span>Adicionar Imagem</span>
    </div>
    <div class="img-container" ng-if="imagem">
    	<img src="img/close.png" alt="" class="btn-close" ng-click="delete()">
    	<img ng-src="{{imagem}}" alt="">
    </div>
	<div class="form">
	    <div class="line">
	    	<input type="number" name="petshop" ng-model="banho.petshop" placeholder="Petshop">
	    </div>

	    <div class="line">
	    	<input type="number" name="valor" ng-model="banho.valor" placeholder="Valor">
	    </div>

	    <div class="line noline">
	    	<div class="field-name">Anotações</div>
	    	<textarea name="notas" ng-model="banho.notas"></textarea>
	    </div>
    </div>
  </ion-content>

    <div class="btm-bar">
		<div class="btn-icon" ng-click="send()"><img src="img/checked.png" alt=""></div>
	</div>
</ion-view>
