<ion-view view-title="{{pet.nome}}">
  <ion-content class="ficha">
    <div class="img-area small">
		<img ng-src="{{pet.img}}" alt="">
	</div>
	<div class="bg-title">
		<img src="img/edit.png" alt="">
		<h2>Ficha técnica</h2>
	</div>
	<div class="container">
		<div class="field">
			<div class="field-name">Raça</div>
			<div class="field-content">Bulldog Francês</div>
		</div>

		<div class="field">
			<div class="field-name">Data de nascimento</div>
			<div class="field-content">04/07/2015</div>
		</div>

		<div class="field halph">
			<div class="field-name">Idade</div>
			<div class="field-content">2 Anos e 6 meses</div>
		</div>
		<div class="field halph">
			<div class="field-name">Idade humana</div>
			<div class="field-content">24 anos</div>
		</div>

		<div class="field halph">
			<div class="field-name">Sexo</div>
			<div class="field-content">Macho</div>
		</div>
		<div class="field halph">
			<div class="field-name">Castrado</div>
			<div class="field-content">Sim</div>
		</div>

		<div class="field halph">
			<div class="field-name">Peso</div>
			<div class="field-content">12kg</div>
		</div>
	</div>
  </ion-content>
</ion-view>
