<ion-view hide-nav-bar="true">
  <ion-content class="login"> <!-- scroled -->
	<div class="bg-textured">
		<div class="container">
			<div class="img-centered">
				<img src="img/icon.png" alt="">
			</div>
			<div class="form">
			    <div class="box">
			    	<input type="text" name="login" ng-model="pet.nome" placeholder="Nome">
			    </div>

			    <div class="box">
			    	<input type="password" name="senha" ng-model="pet.raca" placeholder="Raça">
			    </div>

			    <div class="linkbox">
			    	<span class="left">Esqueci a senha</span>
			    	<span class="right" ng-click="cadastro()">Cadastre-se</span>
			    </div>
			</div>
		</div>
		<div class="divider"></div>
	</div>
	<div class="fb-area">
		<div class="fb-button" ng-click="facebookSignIn()">
			<img src="img/fblogin.png" alt="">
		</div>
	</div>
  </ion-content>
</ion-view>
