<ion-view view-title="Minha Conta">
  <ion-content class="minhaconta"> <!-- scroled -->
	<div class="bg-textured">
		<div class="img-rounded">
			<img src="img/avatar.png" alt="">
		</div>
		<span>Maria Valentina</span>
	</div>
	<div class="container">
		<div class="field">
			<div class="field-name">E-mail</div>
			<div class="field-content">mvalentina@mail.com</div>
		</div>

		<div class="field">
			<div class="field-name">Telefone</div>
			<div class="field-content">(11) 91134-5674</div>
		</div>
	</div>
  </ion-content>
</ion-view>
