<ion-view view-title="Cadastro">
  <ion-content class="container btm">
    <div class="bg-grad add-image" ng-click="picture()" ng-if="!user.img">
    	<img src="img/add.png" alt="">
    	<span>Adicionar Imagem</span>
    </div>
    <div class="img-container" ng-if="user.img">
    	<img src="img/close.png" alt="" class="btn-close" ng-click="delete()">
    	<img ng-src="{{user.img}}" alt="">
    </div>
	<div class="form">
	    <div class="line">
	    	<input type="text" name="nome" ng-model="user.nome" placeholder="Nome">
	    </div>

	    <div class="line">
	    	<input type="email" name="email" ng-model="user.email" placeholder="E-mail">
	    </div>

	    <div class="line">
	    	<input type="password" name="senha" ng-model="user.senha" placeholder="Senha">
	    </div>

	    <div class="line">
	    	<input type="password" name="confsenha" ng-model="user.confsenha" placeholder="Confirme a Senha">
	    </div>

	    <div class="line">
	    	<input type="text" name="telefone" ng-model="user.telefone" placeholder="Fone" mask="(99) 9?9999-9999">
	    </div>
    </div>
  </ion-content>

    <div class="btm-bar">
		<div class="btn-icon" ng-click="signup()"><img src="img/checked.png" alt=""></div>
	</div>
</ion-view>
