<ion-view view-title="Novo Pet">
  <ion-content class="container">
    <div class="bg-grad add-image">
    	<img src="../img/add.png" alt="">
    	<span>Adicionar Imagem</span>
    </div>
	<div class="form">
	    <div class="line">
	    	<input type="text" name="nome" ng-model="pet.nome" placeholder="Nome">
	    </div>

	    <div class="line">
	    	<input type="text" name="raca" ng-model="pet.raca" placeholder="Raça">
	    </div>

	    <div class="line">
	    	<input type="text" name="nascimento" ng-model="pet.nascimento" placeholder="Nascimento">
	    </div>


	    
    </div>
  </ion-content>
</ion-view>
