<ion-view view-title="Meus Pets" hide-back-button="true">
	<ion-content class="bg-gray meuspets">
		<ion-list>
			<ion-item ng-repeat="pet in pets" href="#/app/meuspets/{{pet.id}}">
				<div class="pet-area">
					<div class="img-rounded bordered"><img ng-src="{{(pet.img) ? pet.img : 'img/no-image-pet.png'}}" alt=""></div>
					<div class="pet-infos middle">
						<span class="titulo">{{pet.nome}}</span>
						<span class="subtitulo">{{pet.dataNascimento | date: 'dd/MM/yyyy'}} | {{pet.peso}}kg </span>
					</div>
				</div>
				<div class="pet-ind">
					<div class="ind-item">
						<span class="icon"><img src="img/bug.png" alt=""></span>
						2 semanas
					</div>
					<div class="ind-item">
						<span class="icon"><img src="img/vacina.png" alt=""></span>
						3 meses
					</div>
					<div class="ind-item">
						<span class="icon"><img src="img/banho.png" alt=""></span>
						2 dias
					</div>
				</div>
			</ion-item>
			<div class="vazio" ng-if="!pets[0]">
				<img ng-src="img/vazio.png" alt="">
				<span class="title">Nenhum Pet Cadastrado!</span>
				<div class="speech-bubble" ng-style="myStyle">
					<img src="img/close.png" alt="" ng-click="myStyle={opacity:0}">
					Cadastre seu Pet!
				</div>
			</div>
		</ion-list>
	</ion-content>
	<div class="btm-bar">
		<div class="btn-icon" ng-click="newpet()">+</div>
	</div>
</ion-view>
