<ion-view view-title="Novo Pet">
  <ion-content class="container btm">
    <div class="bg-grad add-image" ng-click="picture()" ng-if="!pet.base64">
    	<img src="img/add.png" alt="">
    	<span>Adicionar Imagem</span>
    </div>
    <div class="img-container" ng-if="pet.base64">
    	<img src="img/close.png" alt="" class="btn-close" ng-click="delete()">
    	<img ng-src="{{pet.base64}}" alt="">
    </div>
	<div class="form">
	    <div class="line">
	    	<input type="text" name="nome" ng-model="pet.nome" placeholder="Nome">
	    </div>

	    <div class="line">
	    	<input type="text" name="raca" ng-model="pet.raca" placeholder="Raça">
	    </div>

	    <div class="line">
	    	<input type="text" name="dataNascimento" ng-model="pet.dataNascimento" placeholder="Nascimento">
	    </div>

	    <div class="line">
	    	<input type="text" name="peso" ng-model="pet.peso" placeholder="Peso">
	    </div>

	    <div class="line opt">
	    	<span class="leg text-hl">Espécie</span>
	    	<ion-radio ng-click="setEspecie(1)" class="text-hl" name="especie">Canino</ion-radio>
			<ion-radio ng-click="setEspecie(2)" class="text-hl" name="especie">Felino</ion-radio>
	    </div>

	    <div class="line opt">
	    	<span class="leg text-hl">Sexo</span>
	    	<ion-radio ng-click="setSexo(1)" class="text-hl" name="sexo">Masculino</ion-radio>
			<ion-radio ng-click="setSexo(0)" class="text-hl" name="sexo">Feminino</ion-radio>
	    </div>

	    <div class="line opt">
	    	<span class="leg text-hl">Castrado</span>
	    	<ion-radio ng-click="setCastrado(1)" class="text-hl" name="castrado">Sim</ion-radio>
			<ion-radio ng-click="setCastrado(0)" class="text-hl" name="castrado">Não</ion-radio>
	    </div>

	    <div class="line opt">
	    	<span class="leg text-hl">Tem interesse em cruzar futuramente?</span>
	    	<ion-radio ng-click="setCruzar(1)" class="text-hl" name="cruzar">Sim</ion-radio>
			<ion-radio ng-click="setCruzar(0)" class="text-hl" name="cruzar">Não</ion-radio>
	    </div>
    </div>
  </ion-content>

    <div class="btm-bar">
		<div class="btn-icon" ng-click="send()"><img src="img/checked.png" alt=""></div>
	</div>
</ion-view>
