<ion-view view-title="Novo Petshop">
  <ion-content class="container btm">
    
	<div class="form">
	    <div class="line">
	    	<input type="text" name="nome" ng-model="petshop.nome" placeholder="Nome">
	    </div>
	    
	    <div class="line">
	    	<input type="text" name="endereco" ng-model="petshop.endereco" placeholder="Endereço">
	    </div>

	    <div class="line">
	    	<input type="text" name="telefone" ng-model="petshop.telefone" placeholder="Telefone" mask="(99) 9?9999-9999">
	    </div>

	    <div class="line">
	    	<input type="text" name="celular" ng-model="petshop.celular" placeholder="Celular" mask="(99) 9?9999-9999">
	    </div>

    </div>
  </ion-content>

    <div class="btm-bar">
		<div class="btn-icon" ng-click="send()"><img src="img/checked.png" alt=""></div>
	</div>
</ion-view>
