<ion-view view-title="Novo Petshop">
  <ion-content class="container btm">
    
	<div class="form">
	    <div class="line">
	    	<input type="text" name="nome" ng-model="pet.nome" placeholder="Nome">
	    </div>
	    
	    <div class="line">
	    	<input type="text" name="endereco" ng-model="pet.endereco" placeholder="Endereço">
	    </div>

	    <div class="line">
	    	<input type="text" name="telefone" ng-model="pet.telefone" placeholder="Telefone">
	    </div>

	    <div class="line">
	    	<input type="text" name="celular" ng-model="pet.celular" placeholder="Celular">
	    </div>

    </div>
  </ion-content>

    <div class="btm-bar">
		<div class="btn-icon"><img src="../img/checked.png" alt=""></div>
	</div>
</ion-view>
