<ion-view view-title="Meus Petshops">
	<ion-content class="bg-gray meuspets petshop vets">
		<ion-list>
			<ion-item ng-repeat="petshop in petshops">
				<div class="pet-area">
					<div class="pet-infos middle">
						<span class="titulo">{{petshop.nome}}</span>
						<span class="subtitulo">{{petshop.endereco}} </span>
					</div>
				</div>
				<div class="pet-ind">
					<div class="ind-item col-2">
						<a href="tel:{{petshop.telefone}}" ng-if="petshop.telefone">
							<span class="icon"><img src="img/phone.png" alt=""></span>
							{{petshop.telefone}}
						</a>
					</div>
					<div class="ind-item col-2">
						<a href="tel:{{petshop.celular}}" ng-if="petshop.celular">
							<span class="icon" ng-if="petshop.celular"><img src="img/cellphone.png" alt=""></span>
							{{petshop.celular}}
						</a>
					</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
	<div class="btm-bar">
		<div class="btn-icon" ng-click="newpetshop()">+</div>
	</div>
</ion-view>
