<ion-view view-title="Timeline">
  <ion-content class="timeline"> <!-- scroled -->
    <div class="img-area small">
		<img ng-src="{{pet.img}}" alt="">
	</div>
	<div class="bg-title">
		<img src="img/add-white.png" alt="" ng-click="new()">
		<h2>{{pet.nome}}</h2>
	</div>
	<div class="container">
		<div class="card">
			<div class="data bg-grad">07/01/2018</div>
			<div class="titulo">Costelinha está pesando 18kg</div>
			<div class="img-area">
				<img src="img/pipoca.jpeg" alt="">
			</div>
			<div class="share">
				<img src="img/share.png" alt="">
			</div>
			
		</div>
	</div>
  </ion-content>
</ion-view>
