<ion-view view-title="{{titulo}}">
  <ion-content class="container btm">
    <div class="bg-grad add-image" ng-click="picture()" ng-if="!timeline.imagem">
        <img src="img/add.png" alt="">
        <span>Adicionar Imagem</span>
    </div>
    <div class="img-container" ng-if="timeline.imagem">
        <img src="img/close.png" alt="" class="btn-close" ng-click="delete()">
        <img ng-src="{{timeline.imagem}}" alt="">
    </div> 
	<div class="form">
	    <div class="line">
	    	<input type="text" name="titulo" ng-model="timeline.titulo" placeholder="Título">
	    </div>
    </div>
  </ion-content>

    <div class="btm-bar">
		<div class="btn-icon" ng-click="send()"><img src="img/checked.png" alt=""></div>
	</div>
</ion-view>
