<ion-view view-title="Nova Vacina">
  <ion-content class="container btm">
    <div class="bg-grad add-image" ng-click="picture()" ng-if="!vacina.base64">
    	<img src="img/add.png" alt="">
    	<span>Adicionar Selo</span>
    </div>
    <div class="img-container" ng-if="vacina.base64">
    	<img src="img/close.png" alt="" class="btn-close" ng-click="delete()">
    	<img ng-src="{{vacina.base64}}" alt="">
    </div>
	<div class="form">
	    <div class="line">
	    	<input type="text" name="nome" ng-model="vacina.nome" placeholder="Nome da vacina">
	    </div>

	    <div class="line" ng-click="getAplicacao()">
	    	<div class="likeinput" ng-if="!vacina.aplicacao">Aplicacao</div>
	    	<div class="likeinput" ng-if="vacina.aplicacao">{{vacina.aplicacao | date: 'dd/MM/yyyy'}}</div>
	    	<!-- <input type="text" name="aplicacao" ng-model="vacina.aplicacao" placeholder="Aplicacao" mask="99/99/9999"> -->
	    </div>

	    <div class="line" ng-click="getRetorno()">
	    	<div class="likeinput" ng-if="!vacina.retorno">Retorno</div>
	    	<div class="likeinput" ng-if="vacina.retorno">{{vacina.retorno | date: 'dd/MM/yyyy'}}</div>
	    	<!-- <input type="text" name="retorno" ng-model="vacina.retorno" placeholder="Retorno" mask="99/99/9999"> -->
	    </div>
		
		<div class="line">
	    	<select ng-model="vacina.lembrete" class="likeinput">
			    <option ng-repeat="item in diasLembrete"  value="{{item.qtd}}">{{item.desc}}</option>
			</select>
	    </div>

	    <div class="line">
	    	<label class="tag field-description" ng-click="removeItem()" ng-if="vacina.nomeVeterinario"><span class="close">x</span>{{vacina.nomeVeterinario}}</label>
	    	<input type="text" id="inpt" name="veterinario" ng-focus="focus()" placeholder="Veterinario responsável" ng-keyup="keypressed($event)" ng-blur="blur()">

	    	<div class="lst" ng-if="options">
                <span ng-repeat="item in options" ng-click="add(item)">{{item.nome}}</span>
            </div>
	    </div>

	    <div class="line noline">
	    	<div class="field-name">Anotações</div>
	    	<textarea name="notas" ng-model="vacina.notas"></textarea>
	    </div>
    </div>
  </ion-content>

    <div class="btm-bar">
		<div class="btn-icon" ng-click="send()"><img src="img/checked.png" alt=""></div>
	</div>
</ion-view>
