<ion-view view-title="Detalhes da Vacina">
	<ion-nav-buttons side="right" >
        <img src="img/edit-color.png" alt="" ng-click="editVacina()">
    </ion-nav-buttons>
	<ion-content class="vacina-detalhe container"> <!-- scroled -->
	    <div class="field">
			<div class="field-name">Nome da Vacina</div>
			<div class="field-content">{{vacina.nome}}</div>
		</div>

		<div class="field">
			<div class="field-name">Aplicação</div>
			<div class="field-content">{{vacina.aplicacao | date: 'dd/MM/yyyy'}}</div>
		</div>

		<div class="field">
			<div class="field-name">Retorno</div>
			<div class="field-content">{{vacina.retorno | date: 'dd/MM/yyyy'}}</div>
		</div>

		<div class="field">
			<div class="field-name">Médico responsável</div>
			<div class="field-content link">{{vacina.nomeVeterinario}}</div>
		</div>

		<div class="field" ng-if="vacina.img">
			<div class="field-name">Selo</div>
			<img ng-src="{{vacina.img}}" alt="">
		</div>
	</ion-content>
</ion-view>
