<ion-view view-title="{{pet.nome}}">
  <ion-content class="vacina"> <!-- scroled -->
    <div class="img-area small">
		<img ng-src="{{pet.img}}" alt="">
	</div>
	<div class="bg-title">
		<img src="img/add-white.png" alt="" ng-click="addVacina()">
		<h2>Carteira de Vacinas</h2>
	</div>
	<div class="">
		<div class="f-card" ng-click="viewVacina(vacina.id)" ng-repeat="vacina in vacinas"> <!-- done -->
			<div class="field">
				<div class="field-name">Vacina</div>
				<div class="field-content">{{vacina.nome}}</div>
			</div>	

			<div class="field halph">
				<div class="field-name">Aplicação</div>
				<div class="field-content">{{vacina.aplicacao | date: 'dd/MM/yyyy'}}</div>
			</div>

			<div class="field halph">
				<div class="field-name">Retorno</div>
				<div class="field-content">{{vacina.retorno | date: 'dd/MM/yyyy'}}</div>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
