<ion-view view-title="Detalhes da Vacina">
	<ion-nav-buttons side="right" >
        <img src="../img/edit-color.png" alt="" ng-click="editVacina()">
    </ion-nav-buttons>
	<ion-content class="vacina-detalhe container"> <!-- scroled -->
	    <div class="field">
			<div class="field-name">Nome da Vacina</div>
			<div class="field-content">V8 - Dose 1</div>
		</div>

		<div class="field">
			<div class="field-name">Aplicação</div>
			<div class="field-content">17/12/2017</div>
		</div>

		<div class="field">
			<div class="field-name">Retorno</div>
			<div class="field-content">18/01/2018</div>
		</div>

		<div class="field">
			<div class="field-name">Médico responsável</div>
			<div class="field-content link">Dr. Gustavo</div>
		</div>

		<div class="field">
			<div class="field-name">Selo</div>
			<img src="../img/selo.png" alt="">
		</div>
	</ion-content>
</ion-view>
