<ion-view view-title="Nova Vacina">
  <ion-content class="container btm">
    <div class="bg-grad add-image">
    	<img src="../img/add.png" alt="">
    	<span>Adicionar Selo</span>
    </div>
	<div class="form">
	    <div class="line">
	    	<input type="text" name="nome" ng-model="vacina.nome" placeholder="Nome da vacina">
	    </div>

	    <div class="line">
	    	<input type="text" name="aplicacao" ng-model="vacina.aplicacao" placeholder="Aplicacao">
	    </div>

	    <div class="line">
	    	<input type="text" name="retorno" ng-model="vacina.retorno" placeholder="Retorno">
	    </div>
		
		<div class="line">
	    	<input type="text" name="lembrete" ng-model="vacina.lembrete" placeholder="Lembrete">
	    </div>

	    <div class="line">
	    	<input type="text" name="veterinario" ng-model="vacina.veterinario" placeholder="Veterinario responsável">
	    </div>

	    <div class="line noline">
	    	<div class="field-name">Anotações</div>
	    	<textarea name="anotacoes" ng-model="vacina.anotacoes"></textarea>
	    </div>
    </div>
  </ion-content>

    <div class="btm-bar">
		<div class="btn-icon" ng-click="newpost()"><img src="../img/checked.png" alt=""></div>
	</div>
</ion-view>
