<ion-view view-title="{{pet.nome}}">
  <ion-content class="vacina"> <!-- scroled -->
    <div class="img-area small">
		<img ng-src="{{pet.img}}" alt="">
	</div>
	<div class="bg-title">
		<img src="img/add-white.png" alt="" ng-click="addVacina()">
		<h2>Carteira de Vacinas</h2>
	</div>
	<div class="">
		<div class="f-card" ng-click="vacina(1)">
			<div class="field">
				<div class="field-name">Raça</div>
				<div class="field-content">Bulldog Francês</div>
			</div>	

			<div class="field halph">
				<div class="field-name">Idade</div>
				<div class="field-content">2 Anos e 6 meses</div>
			</div>

			<div class="field halph">
				<div class="field-name">Idade</div>
				<div class="field-content">2 Anos e 6 meses</div>
			</div>
		</div>

		<div class="f-card" ng-click="vacina(2)">
			<div class="field">
				<div class="field-name">Raça</div>
				<div class="field-content">Bulldog Francês</div>
			</div>	

			<div class="field halph">
				<div class="field-name">Idade</div>
				<div class="field-content">2 Anos e 6 meses</div>
			</div>

			<div class="field halph">
				<div class="field-name">Idade</div>
				<div class="field-content">2 Anos e 6 meses</div>
			</div>
		</div>

		<div class="f-card done" ng-click="vacina(2)">
			<div class="field">
				<div class="field-name">Raça</div>
				<div class="field-content">Bulldog Francês</div>
			</div>	

			<div class="field halph">
				<div class="field-name">Idade</div>
				<div class="field-content">2 Anos e 6 meses</div>
			</div>

			<div class="field halph">
				<div class="field-name">Idade</div>
				<div class="field-content">2 Anos e 6 meses</div>
			</div>
		</div>

		<div class="f-card done" ng-click="vacina(3)">
			<div class="field">
				<div class="field-name">Raça</div>
				<div class="field-content">Bulldog Francês</div>
			</div>	

			<div class="field halph">
				<div class="field-name">Idade</div>
				<div class="field-content">2 Anos e 6 meses</div>
			</div>

			<div class="field halph">
				<div class="field-name">Idade</div>
				<div class="field-content">2 Anos e 6 meses</div>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
