<ion-view view-title="Meus Veterinários">
	<ion-content class="bg-gray meuspets vets">
		<ion-list>
			<ion-item ng-repeat="vet in vets">
				<div class="pet-area">
					<div class="img-rounded bordered"><img ng-src="{{vet.img}}" alt=""></div>
					<div class="pet-infos middle">
						<span class="titulo">{{vet.nome}}</span>
						<span class="subtitulo">CRMV: {{vet.crmv}} </span>
					</div>
				</div>
				<div class="pet-ind">
					<div class="ind-item col-2">
						<span class="icon"><img src="img/phone.png" alt=""></span>
						{{vet.fone}}
					</div>
					<div class="ind-item col-2">
						<span class="icon"><img src="img/cellphone.png" alt=""></span>
						{{vet.celular}}
					</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
	<div class="btm-bar">
		<div class="btn-icon" ng-click="newpet()">+</div>
	</div>
</ion-view>
