<ion-view view-title="Novo Vet">
  <ion-content class="container btm">
    <div class="bg-grad add-image" ng-click="picture()" ng-if="!vet.base64">
    	<img src="img/add.png" alt="">
    	<span>Adicionar Imagem</span>
    </div>
    <div class="img-container" ng-if="vet.base64">
    	<img src="img/close.png" alt="" class="btn-close" ng-click="delete()">
    	<img ng-src="{{vet.base64}}" alt="">
    </div>
	<div class="form">
	    <div class="line">
	    	<input type="text" name="nome" ng-model="vet.nome" placeholder="Nome">
	    </div>

	    <div class="line">
	    	<input type="text" name="crmv" ng-model="vet.crmv" placeholder="CRMV">
	    </div>

	    <div class="line">
	    	<input type="text" name="endereco" ng-model="vet.endereco" placeholder="Endereço">
	    </div>

	    <div class="line">
	    	<input type="text" name="telefone" ng-model="vet.telefone" placeholder="Telefone" mask="(99) 9?9999-9999">
	    </div>

	    <div class="line">
	    	<input type="text" name="celular" ng-model="vet.celular" placeholder="Celular" mask="(99) 9?9999-9999">
	    </div>

    </div>
  </ion-content>

    <div class="btm-bar">
		<div class="btn-icon" ng-click="send()"><img src="img/checked.png" alt=""></div>
	</div>
</ion-view>
