<ion-view view-title="Meus Veterinários">
	<ion-content class="bg-gray meuspets vets">
		<ion-list>
			<ion-item ng-repeat="vet in vets">
				<div class="pet-area" ng-click="config(vet.id)">
					<div class="img-rounded bordered"><img ng-src="{{(vet.img) ? vet.img : 'img/no-image-pet.png'}}" alt=""></div>
					<div class="pet-infos middle">
						<span class="titulo">{{vet.nome}}</span>
						<span class="subtitulo" ng-if="vet.crmv">CRMV: {{vet.crmv}} </span>
						<span class="subtitulo">{{vet.localizacao}} </span>
					</div>
				</div>
				<div class="pet-ind">
					<div class="ind-item col-2">
						<a href="tel:{{'+55 '+vet.telefone}}" ng-if="vet.telefone">
                            <span class="icon"><img src="img/phone.png" alt=""></span>
                            {{vet.telefone}}
                        </a>
					</div>
					<div class="ind-item col-2">
						<a href="tel:{{vet.celular}}" ng-if="vet.celular">
							<span class="icon"><img src="img/cellphone.png" alt=""></span>
							{{vet.celular}}
						</a>
					</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
	<div class="btm-bar">
		<div class="btn-icon" ng-click="newpet()">+</div>
	</div>
</ion-view>
